* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #2753a4;
    color: #99a0af;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    color: #111827;
}


.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #39c49f;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #2563eb;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #374151;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #2563eb;
}


.home {
    min-height: 90vh;
    padding: 80px 8%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 50px;

    background: linear-gradient(135deg,
            #184c91,
            #ffffff);
}

.home-content {
    max-width: 650px;
}

.hello {
    color: #2563eb;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.home h1 {
    font-size: 58px;
    color: #2156c9;
    margin-bottom: 10px;
}

.home h2 {
    font-size: 30px;
    color: #2563eb;
    margin-bottom: 20px;
}

.home-content>p:not(.hello) {
    color: #55708f;
    font-size: 18px;
    line-height: 1.8;
}

.home-buttons {
    margin-top: 30px;

    display: flex;
    gap: 15px;
}

.btn {
    display: inline-block;
    padding: 13px 25px;

    background: #2563eb;
    color: white;

    text-decoration: none;

    border-radius: 8px;

    font-weight: bold;

    transition: 0.3s;
}

.btn:hover {
    background: #1d4ed8;
    transform: translateY(-3px);
}

.btn-outline {
    background: transparent;
    color: #2563eb;
    border: 2px solid #2563eb;
}

.btn-outline:hover {
    background: #2563eb;
    color: white;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle {
    width: 300px;
    height: 300px;

    border-radius: 50%;

    background-image: url("photo.jpeg");
    background-size: cover;
    background-position: center;

    border: 8px solid white;

    box-shadow:
        0 15px 35px rgba(37, 99, 235, 0.25);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid rgb(63, 154, 45);

    box-shadow: 0 15px 35px rgba(37, 99, 235, 0.35);

    background: rgb(71, 66, 70);
}

.profile-circle img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    display: block;
    background-color: #0891b2;  
}

.section {
    padding: 90px 8%;
    background: white;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title p {
    color: #2563eb;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.section-title h2 {
    font-size: 40px;
    color: #6ec152;
}


.about-content {
    max-width: 1100px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 50px;
}

.about-text h3 {
    font-size: 30px;
    color: #111827;
    margin-bottom: 20px;
}

.about-text p {
    color: #55708f;
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.info-box {
    padding: 25px;

    background: #8da7c1;

    border-radius: 12px;

    border: 1px solid #384050;
    
    transition: 0.3s;
}

.info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px red;
}

.info-box h4 {
    color: #2563eb;
    margin-bottom: 10px;
    font-size: 18px;
}

.info-box p {
    color: #374151;
    line-height: 1.5;
}

.skills {
    min-height: 100vh;

    padding: 80px 5%;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 30px;

    align-items: center;

    background: #eef2f5;
}

.skill-card {
    background: rgb(147, 131, 178);

    min-height: 360px;

    padding: 40px 20px;

    text-align: center;

    border-radius: 14px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    transition: 0.3s ease;

    border: 1px solid #87c6a6;
}

.skill-card:hover {
    transform: translateY(-10px);

    box-shadow:
        0 15px 30px red;
}



.skill-card img {
    width: 180px;
    height: 180px;

    object-fit: contain;

    margin-bottom: 20px;
}


.icon {
    width: 88px;
    height: 88px;

    margin: 4px 0 25px;

    border-radius: 50%;

    background: #eff6ff;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #2563eb;

    font-size: 25px;

    font-weight: bold;

    transition: 0.3s;
}

.skill-card:hover .icon {
    transform: scale(1.1);

    background: #2563eb;

    color: white;
}



.skill-card h2 {
    font-size: 24px;

    color: #376bda;

    margin-bottom: 18px;
}



.skill-card p {
    font-size: 18px;

    line-height: 1.6;

    color: #55708f;

    max-width: 280px;
}


.projects-container {
    max-width: 1100px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.project-card {
    background: rgb(228, 167, 54);

    border-radius: 14px;

    overflow: hidden;

    border: 1px solid #28bc1a;

    box-shadow:
        0 5px 15px rgba(0, 0, 0, 0.06);

    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);

    box-shadow:
        0 15px 30px green;
}


.project-image {
    height: 180px;

    display: flex;

    align-items: center;

    justify-content: center;

    color: white;

    font-size: 25px;

    font-weight: bold;
}

.ecommerce {
    background: linear-gradient(135deg,
            #2563eb,
            #60a5fa);
}

.dashboard {
    background: linear-gradient(135deg,
            #7c3aed,
            #a78bfa);
}

.weather {
    background: linear-gradient(135deg,
            #0891b2,
            #67e8f9);
}



.project-content {
    padding: 25px;
}

.project-content h3 {
    font-size: 21px;

    color: #111827;

    margin-bottom: 12px;
}

.project-content p {
    color: #55708f;

    line-height: 1.6;

    margin-bottom: 20px;
}


.technologies {
    display: flex;

    flex-wrap: wrap;

    gap: 8px;
}

.technologies span {
    background: #84a3cd;

    color: #2563eb;

    padding: 6px 10px;

    border-radius: 5px;

    font-size: 12px;

    font-weight: bold;
}

.project-link {
    width: 100%;

    margin-top: 12px;

    color: #2563eb;

    text-decoration: none;

    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}



.contact-section {
    background: #f8fafc;
}

.contact-container {
    max-width: 1000px;

    margin: auto;

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 50px;
}

.contact-text h3 {
    font-size: 30px;

    margin-bottom: 20px;

    color: #111827;
}

.contact-text p {
    color: #55708f;

    font-size: 17px;

    line-height: 1.8;

    margin-bottom: 15px;
}


.contact-form {
    display: flex;

    flex-direction: column;

    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;

    padding: 14px;

    border: 1px solid #d1d5db;

    border-radius: 8px;

    font-size: 15px;

    outline: none;

    font-family: Arial, sans-serif;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #2563eb;

    box-shadow:
        0 0 0 3px rgba(37, 99, 235, 0.1);
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 14px;

    background: #2563eb;

    color: white;

    border: none;

    border-radius: 8px;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.contact-form button:hover {
    background: #1d4ed8;

    transform: translateY(-2px);
}



footer {
    background: #111827;

    color: white;

    text-align: center;

    padding: 25px;

    font-size: 14px;
}


@media (max-width: 900px) {

    .navbar {
        padding: 18px 25px;
    }

    .home {
        padding: 70px 5%;
    }

    .home h1 {
        font-size: 45px;
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);

        padding: 50px 30px;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content,
    .contact-container {
        grid-template-columns: 1fr;
    }
}



@media (max-width: 600px) {

    .navbar {
        flex-direction: column;

        gap: 15px;

        padding: 15px;
    }

    .nav-links {
        gap: 15px;

        flex-wrap: wrap;

        justify-content: center;
    }

    .nav-links a {
        font-size: 14px;
    }

    .home {
        min-height: auto;

        padding: 60px 25px;

        flex-direction: column;

        text-align: center;
    }

    .home h1 {
        font-size: 38px;
    }

    .home h2 {
        font-size: 25px;
    }

    .home-buttons {
        justify-content: center;

        flex-wrap: wrap;
    }

    .profile-circle {
        width: 230px;
        height: 230px;
    }

    .section {
        padding: 60px 25px;
    }

    .section-title h2 {
        font-size: 32px;
    }

    .about-info {
        grid-template-columns: 1fr;
    }

    .skills {
        grid-template-columns: 1fr;

        padding: 50px 20px;
    }

    .skill-card {
        min-height: 320px;
    }

    .skill-card img {
        width: 150px;
        height: 150px;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }
}

.home {
  min-height: 100vh;
  background-image: url("photo1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hello {
    color: red;
}
.about {
 background-color: rgb(180, 201, 145);

}


